*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
body{
  /* width: 100%;
  background-color: #f8b78b;
  display: flex;
  flex-direction: column;
  justify-content: center; */
  /* align-items: ; */
}